{% extends 'base.html' %}

{% block title %}Sobre Nós{% endblock title %}

{% block content %}

<div class="container my-3">
    <h1 class="font-weight-bold">Sobre nós</h1>
    <p>
        Nós somos a equipe PSI, isto é, a equipe responsável pela Prestação de Serviços do ITA. Nossa equipe é composta por três universitários
        motivados a melhorar a qualidade de vida dos iteanos. Tendo como característica principal a simplicidade, nosso projeto se propõe a fazer uma ponte entre moradores do H8 necessitados
        de determinadas tarefas e prestadores de serviços capacitados a fazê-las.
    </p>
    <h1 class="font-weight-bold">Como começou</h1>
    <p>
        Tudo começou em uma conversa cotidiana quando os três membros concordaram que haviam certos tipos de tarefas simples como por exemplo
        trocar o pneu de uma bicicleta, que os mesmos estariam dispostos a pagá-las para não ter que executá-las. Nesse sentido, a ideia de
        fazer uma aplicação web que resolvesse este problema  para toda a comunidade iteana ganhou relevância em nossas mentes.

    </p>
    <h1 class="font-weight-bold">Onde estamos</h1>
    <p>Vocês podem nos encontrar na rua H8A, apartamento 125.</p>
</div>

{% endblock content %}