{% extends 'base.html' %}

{% block content %}

<div class="container my-3">
    <h1 class="font-weight-bold">Bem Vindo!</h1>
    <p>
        Bem Vindo ao PSI, o site que vai resolver seus problemas, ou pelo menos, colocar você em contato com alguém que
        consegue. Use nossa plataforma para fazer pedidos de serviços e aguarde que pessoas capacitadas respondam sua
        soliticação. Nosso objetivo é conectar prestadores de serviços e necessitados, sendo um canal para permitir essa
        conexão. Ao navegar por nossas abas, pode-se adicionar novos serviços ou analisar todos os pedidos que podem ser
        resolvidos atualmente, permitindo que toda a comunidade participe.
    </p>

</div>

{% endblock content %}